@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Space+Mono&display=swap");
a {
  margin-top: 4px;
  color: #d7e6cf;
  text-decoration: underline;
}
a:hover {
  background: #d7e6cf;
  color: #281930;
  border-radius: 4px;
  border: 2px #281930;
  box-shadow: 5px 3px #d7e6cf;
}

.has-background-sas {
  background: #d7e6cf;
  color: #281930;
}

.container {
  font-family: 'Space Mono';
  background: #281930;
  color: #d7e6cf;
  min-height: 100vh;
}

.inverse {
  background: #d7e6cf;
  color: #281930;
}

#title {
  padding-top: 60px;
  font-family: 'Major Mono Display';
}

#result {
  padding-top: 25px;
  border-top: 5px solid #d7e6cf;
  font-family: 'Major Mono Display';
  font-size: 3em;
}

#def {
  margin-top: 60px;
  margin-bottom: 60px;
}

body {
  background: #d7e6cf;
}

.answer {
  margin-top: 12px;
  width: auto;
  min-width: 60px;
  border-radius: 5px;
  padding: 12px;
  text-align: center;
}
.answer:hover {
  color: #d7e6cf;
  background: #281930;
  box-shadow: 2px -4px #d7e6cf;
}

#paContainer {
  margin-top: 20px;
}

#playAgain {
  color: #281930;
  background: #d7e6cf;
  padding: 4px;
  border-radius: 4px;
  visibility: hidden;
  margin: 0 auto;
}

input[type="text"] {
  font-family: 'Space Mono';
  background: #281930;
  color: #d7e6cf;
}
input[type="text"]::placeholder {
  color: #d7e6cf;
}

textarea.textarea {
  font-family: "Space Mono";
  background: #281930;
  color: #d7e6cf;
}
textarea.textarea::placeholder {
  color: #d7e6cf;
}
